body {
  margin: 0;
  font-family: Arial, Helvetica, sans-serif;
}

.container {
  margin: 16px;
  max-width: 200px;
  padding: 4px 8px;
  background-color: slategrey;
  border-radius: 8px;
}

.row {
  margin: 4px 0px;
  gap: 4px;
  display: flex;
  justify-content: space-between;
}

.display {
  color: #000;
  background-color: bisque;
  font-size: 32px;
  box-sizing: border-box;
  min-height: 52px;
  padding: 0 8px;
  border-radius: 4px;
  margin-top: 4px;
  margin-bottom: 8px;
  display: flex;
  align-items: center;
}

.display * {
  flex: 1;
}

button {
  padding: 0;
  border: none;
  border-radius: 8px;
  font-size: 20px;
  min-height: 40px;
  flex: 1;
}

button:hover {
  background-image: linear-gradient(rgb(0 0 0/10%) 0 0);
}

button:active {
  background-image: linear-gradient(rgb(0 0 0/20%) 0 0);
}

.digit {
  color: #000;
  background-color: snow;
}

.operator {
  color: #000;
  background-color: powderblue;
}

#equals {
  background-color: bisque;
}

#clear {
  background-color: thistle;
}

.empty {
  visibility: hidden;
}